@media (max-width: 400px) {
  body {
    padding: 1rem;
    line-height: 1.5rem;
  }

  header {
    padding: 2rem 0;
    font-family: var(--font-heading);
  }

  .header__right li {
    display: inline-block;
    margin-right: 1rem;
  }
  .hero__img {
    padding: 0;
    width: 100%;
  }

  .services {
    padding: 2rem 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .sevice__card h3 {
    font-size: 1.2rem;
  }
  .sevice__card p {
    line-height: 1.3rem;
    font-weight: 400;
  }
}
