*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* root styling */

:root {
  --background-color-primary: hsl(217, 28%, 15%);
  --background-color-main: hsl(218, 28%, 13%);
  --background-color-footer: hsl(216, 53%, 9%);
  --background-color-testimonial: hsl(219, 30%, 18%);
  --font-color: hsl(0, 2%, 79%);
  --background-color-button: hsl(198, 60%, 50%);
  --background-button-hover: hsl(176, 68%, 64%);
  --font-hover: white;
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Raleway", sans-serif;
  --font-size: 15px;
}

/* body styling */
body {
  background-color: var(--background-color-main);
  font-family: var(--font-body);
  padding: 0 3rem;
  line-height: 1.8rem;
}

/* button styling */
button {
  padding: 0.8rem 4.5rem;
  background-color: var(--background-color-button);
  border: none;
  border-radius: 50px;
  color: var(--font-color);
  font-family: var(--font-heading);
  font-weight: 500;
  transition: all 0.3s ease;
}

/* header section styling */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-family: var(--font-heading);
}

.header__right li {
  display: inline-block;
  margin-right: 2rem;
}
.header__right li:last-child {
  margin-right: 0;
}
.header__right li a {
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.3s ease;
}

/* main section */

.main,
.hero__img,
.hero__des {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  text-align: center;
}
.hero__img {
  padding: 0;
  width: 100%;
}
.hero__des {
  /* background-image: url(./images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
  gap: 1.5rem;
}
.hero__des h2,
.stay__right h3,
.early__acces h3 {
  font-size: 2rem;
  font-family: var(--font-heading);
  text-align: center;
  line-height: 2.5rem;
}

/* services section styling here */
.services {
  padding: 4rem 0;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.sevice__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--font-color);
}

.sevice__card img {
  width: 80x;
  height: 80px;
  margin-bottom: 1.5rem;
  transition: 0.3s all ease;
}

.sevice__card h3 {
  margin-bottom: 0.5rem;
  font-family: var(--font-heading);
  font-size: 1.5rem;
}

.sevice__card p {
  line-height: 1.3rem;
  font-weight: 400;
}

/* stay productive section styling */

.stay__productive,
.testimonial {
  margin: 4rem 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  color: var(--font-color);
}

.stay__right h3 {
  text-align: left;
  margin-bottom: 2rem;
  padding-right: 12rem;
}

.stay__right p {
  margin-bottom: 1rem;
}

.stay__link a {
  color: var(--background-color-button);
  text-decoration: none;
}
.stay__link a i {
  transition: all 0.3s ease;
}

/* testimonial section styling start here */

.testimonial {
  position: relative;
  margin: 10rem 0;
}
.quote {
  position: absolute;
  top: -2rem;
  left: 1.5rem;
}
.quote img {
  width: 2.5rem;
  height: 2.5rem;
}
.testimonial__card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2rem;
  background-color: var(--background-color-testimonial);
  border-radius: 0.2rem;
  color: var(--font-color);
}

.card__profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card__profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--font-color);
}

.card__des h4 {
  font-size: 1.2rem;
  font-family: var(--font-heading);
  margin-bottom: -0.5rem;
  transition: all 0.3s ease;
}

.card__des p {
  font-size: 0.8rem;
}

/* early access styling from here */

.early__acces {
  background-color: var(--background-color-primary);
  width: 60%;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  color: var(--font-color);
  border-radius: 8px;
  box-shadow: 5px 5px 25px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 25px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 25px -3px rgba(0, 0, 0, 0.75);
}

.access__email {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.access__email input[type="email"],
.access__email input[type="button"] {
  width: 70%;
  padding: 12px 25px;
  border: none;
  border-radius: 3rem;
}
.access__email input[type="email"]:focus {
  outline: 2px solid var(--background-color-button);
}

.access__email input::placeholder {
  color: var(--font-color);
}

.access__email input[type="button"] {
  width: 30%;
  background-color: var(--background-color-button);
  color: var(--font-color);
  font-weight: 600;
  transition: 0.3s all ease;
}

/* footer styling start here */
footer {
  margin-top: 4rem;
  padding: 2rem 2.5rem;
}

footer img {
  margin-bottom: 2rem;
}

.footer__cols {
  display: grid;
  grid-template-columns: 30% 30% 15% 15% 10%;
  color: var(--font-color);
}

.col__body:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  gap: 1rem;
}

.col__body:nth-child(1) i {
  font-size: 1rem;
}

.col__body:nth-child(2) {
  margin-left: 2rem;
}
.col__body:nth-child(2) p:nth-child(1) {
  padding-bottom: 1rem;
}
.col__body:nth-child(2) i {
  margin-right: 0.5rem;
}

.col__body:nth-child(3) ul li a,
.col__body:nth-child(4) ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-family: var(--font-body);
}
.col__body:nth-child(5) span {
  margin-right: 0.5rem;
}
.col__body:nth-child(5) span:last-child {
  margin-right: 0;
}

/* all hover effect styling */

.header__right li a:hover {
  color: var(--font-hover);
}

button:hover,
.access__email input[type="button"]:hover {
  background-color: var(--background-button-hover);
  color: var(--background-color-button);
  cursor: pointer;
}

.sevice__card img:hover {
  transform: translateY(-0.7rem);
  cursor: pointer;
}

.stay__link a:hover i {
  transform: translateX(0.7rem);
}

.card__des h4:hover {
  text-decoration: underline;
  cursor: pointer;
}
.col__body:nth-child(2) p:last-child:hover,
.col__body:nth-child(3) a:hover,
.col__body:nth-child(4) a:hover {
  text-decoration: underline;
}
.col__body:nth-child(2) p:last-child:hover,
.col__body:nth-child(5) span:hover {
  cursor: pointer;
}
